<launch>
  <!--ros_args.launch-->
  <arg name="use_jsp_gui" default="true" doc="Launch the joint_state_publisher gui to publish joint angles."/>
  
  <!--robot description-->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find nuturtle_description)/urdf/diff_drive.urdf.xacro"/>  
  
  <!--node to publish the robot state-->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  
  <!--nodes from rviz with rviz configurations-->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find nuturtle_description)/config/nuturtle.rviz" required="true"/>
 
  <!--if use_jsp_gui is true, open gui interface.-->
  <group if="$(arg use_jsp_gui)">
    <!--node to publish the joint state-->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <!--enable gui-->
    <param name="use_gui" value="true"/>
  </node>
  </group>

</launch>
